@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial";
}

/* Custom font families */

@font-face {
  font-family: "PP Agrandir Regular";
  src: url(./assets/fonts/AgrandirPackage/PP-Agrandir-Regular.woff) format("woff"),
    url(./assets/fonts/AgrandirPackage/PP-Agrandir-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "PP Agrandir Bold";
  font-weight: 620;
  src: url(./assets/fonts/AgrandirPackage/PP-Agrandir-Text-Bold.woff) format("woff"),
    url(./fonts/AgrandirPackage/PP-Agrandir-Text-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Orkney";
  src: url(./assets/fonts/OrkneyPackage/Orkney-Regular.woff) format("woff"),
    url(./assets/fonts/OrkneyPackage/Orkney-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Orkney Bold";
  font-weight: 700;
  src: url(./assets/fonts/OrkneyPackage/Orkney-Bold.woff) format("woff"),
    url(./assets/fonts/OrkneyPackage/Orkney-Bold.woff2) format("woff2");
}

/* Custom font classes */

.ppa {
  font-family: "PP Agrandir Regular";
}

.ork {
    font-family: "Orkney";
}

/* Custom Navbar */

body::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 14px;
}

body::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}

body::-webkit-scrollbar-button {
    display:none;
}

/* Blur effect */

  .blur-lg {
  backdrop-filter: blur(20px); 
  -webkit-backdrop-filter: blur(20px); 
}
